body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('./img/moving_water_bkg.gif'); 
}

th {
  width: 120px;
  padding-top:25px;
  padding-bottom:30px;
}

td {
  padding: 5px;
  border-radius: 5px;
}

.time {
  height: 40px;
}

/* .Event {
  background-color: brown;
  line-height: 10px;
  border-radius: 15px;
} */

.green {
  background: rgb(142, 188, 72);
}

.yellow {
  background-color: rgb(255, 255, 148);
}

.brown {
  background-color: rgb(184, 110, 89);
}